.projects-container {
  height: 90vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: white;
  /*  
  background: url('/images/img-home.jpg') center center/cover no-repeat; 
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
  object-fit: contain; */ 
}

.projects-container > .card {
  border-radius: 15px !important;
  margin: 10px;
}

.projects-container > .card  > .card-img-top{
  border-top-left-radius: 15px !important;
  border-top-right-radius: 15px !important;
}